@model Patient

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/patient", "Patients"), ("", "Details")})>

    <h3 class="mt-4 mb-4">Patient Details</h3>

    <div class="card shadow rounded p2">
        <div class="row pl-3">
            <div class="col-8 pt-3">
                <dl class="row">
                    <dt class="col-5">Name</dt>
                    <dd class="col-7">@Model.Name</dd>

                    <dt class="col-5">Age</dt>
                    <dd class="col-7">@Model.Age</dd>

                    <dt class="col-5">Email</dt>
                    <dd class="col-7">@Model.Email</dd>
                </dl>
            </div>

            <div class="col-4">
                <img src="@Model.PhotoUrl" class="img-fluid" />
            </div>
        </div>

        <div class="row pl-3">

            <a asp-action="CreateMedicineRequest" asp-route-id=@Model.Id class="btn btn-sm btn-info mr-2">
                <i class="bi bi-plus-square-dotted mr-1"></i>Add Medicine Request
            </a>

            <a asp-condition=@User.HasOneOfRoles("patient, staff") asp-controller="Patient" asp-action="Edit" asp-route-id=@Model.Id class="btn btn-sm btn-light mr-2">
                <i class="bi bi-pencil-square mr-1"></i>Edit Patient
            </a>

            <a asp-controller="Patient" asp-action="Index" class="btn btn-sm btn-light mr-4">
                <i class="bi bi-list mr-1"></i>Patient List
            </a>

            <button asp-condition=@(User.HasOneOfRoles("patient, staff")) data-toggle="modal" data-target="#deleteModal" class="btn btn-sm btn-link ml-4">
                <i class="bi bi-trash mr-1"></i>Delete Patient
            </button>

        </div>

        <div class="row p-4">
            <partial name="_Medicines"/>
        </div>

    </div>

<partial name="_DeleteModal"/>