@model Patient

<partial name="_Breadcrumbs" model=@(new[] { ("/", "Home"), ("/patient", "Patients"), ("", "Edit") })>

    <h3 class="mt-4 mb-4">Edit Patient</h3>

    <div class="card rounded shadow p-3">

        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" class="form-control" />

            <partial name="_FormInputs"/>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </div>

        </form>

    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}